<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
<body>
    <table id="t01">
        <tr>
            <th>
                Task Name
            </th>
            <th>
                Task Date
            </th>
            <th>
                Task Description
            </th>
        </tr>
        <% for (let i=0; i < tasks.length; i++){ %>
        <tr>
            <td>
                <%= tasks[i].taskname %>
            </td>
            <td>
                <%= tasks[i].taskdate %>
            </td>
            <td>
                <%= tasks[i].taskdescription %>
            </td>
        </tr>
        <%} %>
    </table>
</body>
Click <a href="/"> HERE</a> to return to home page!!
</html>