<html>
<head>
        <h1>TO DO LIST</h1>
        <link rel="stylesheet" href="styles.css">
        <img src="pikachu.jpg">
</head>
<body>
    <h1>HOME</h1> 
    <h1>
        <a href="/">Home</a>
        <a href="/insertTask">Insert Tasks</a>
        <a href="/getTasks">List Tasks</a>
        <a href="/updateTask">Update Task</a>
        <a href="/deleteTask">Delete Task</a>
        <a href="/deleteAll" >Delete Completed Task</a>
        <a href="/insertDeveloper" >Insert Developer</a>
        <a href="/listDeveloper" >List Developers</a>
    </h1>

</body>
</html>