<html>
<head>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
</head>
<body>
    <h1>List Tasks</h1> </br>
    <h1> 
        <a href="/">Home</a>
        <a href="/insertTask">Insert Tasks</a>
        <a href="/getTasks">List Tasks</a>
        <a href="/updateTask">Update Task</a>
        <a href="/deleteTask">Delete Task</a>
        <a href="/deleteAll" >Delete Completed Task</a>
        <a href="/insertDeveloper" >Insert Developer</a>
        <a href="/listDeveloper" >List Developers</a>

    </h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Developer First Name</td>
            <td>Developer Last Name</td>
            <td>Developer Level</td>
            <td>Developer State</td>
            <td>Developer Suburb</td>
            <td>Developer Street</td>
            <td>Developer Unit</td>

        </tr>
        <% for (let i=0;i<DeveloperDb.length;i++){ %>
            <tr>
                <td><%= DeveloperDb[i]._id %></td> </td>
                <td> <%= DeveloperDb[i].name.firstName %></td> </td>
                <td><%= DeveloperDb[i].name.lastName %></td>
                <td><%= DeveloperDb[i].level %></td>
                <td><%= DeveloperDb[i].address.state %></td>
                <td><%= DeveloperDb[i].address.suburb %></td>
                <td><%= DeveloperDb[i].address.street %></td>
                <td><%= DeveloperDb[i].address.unit %></td>
            </tr>
            <%}%>
    </table>
</body>
</html>