<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
<body>
    <h1>Update Task</h1></br>
    <h1>
        <a href="/">Home</a>
        <a href="/insertTask">Insert Tasks</a>
        <a href="/getTasks">List Tasks</a>
        <a href="/updateTask">Update Task</a>
        <a href="/deleteTask">Delete Task</a>
        <a href="/deleteAll" >Delete Completed Task</a>
        <a href="/insertDeveloper" >Insert Developer</a>
        <a href="/listDeveloper" >List Developers</a>
    </h1>
    <form action="/updateTaskdata" method="POST">
        Task ID <input type="text" method="POST" name="taskID" /> </br>
        Task New Status <input type="text" method="POST" name="taskNewStatus" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>